/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.p--large {
  font-size: 1.125rem;
  font-weight: 600;
}

a {
  color: #f5f5f5;
  text-decoration: none;
  padding: .5em 1em;
  letter-spacing: .175em;
}

.link--border {
  border: 2px solid #f5f5f5;
  border-radius: .5em;
}

body {
  background-color: #242424;
  color: #f5f5f5;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  padding: 1em;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

/* main {
  width: 480px;
  margin: 0 auto;
} */

/* .container {
  padding: 1em;
} */

.calculators-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}


.calculator-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 25px);
  grid-template-areas: "top" "bottom" "result";
  gap: .5em;
  padding: 1em .5em 2em;
  border-bottom: 1px solid #f5f5f5;
}

.calculator--top {
  display: flex;
  grid-area: top;
}

.calculator--bottom {
  display: flex;
  grid-area: bottom;
}

.input {
  font-family: inherit;
  text-align: center;
  min-width: 5em;
  width: 0;
  height: fit-content;
  margin: 0 1em;
  border: none;
  border-bottom: 2px solid #f5f5f5;
  background-color: #242424;
  color: #f5f5f5;
}

.input:focus {
  outline-color: currentColor;
  outline-width: 1px;
  outline-offset: 5px;
  outline-style: inset;
  border-radius: .1em;
}

.result-wrapper {
  grid-area: result;
  align-items: end;
  text-align: center;
  min-width: 5em;
  width: fit-content;
  height: 100%;
  margin-left: auto;
  padding: 0 1em;
  border-bottom: 2px solid #f5f5f5;
}