:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: #f5f5f5;
}

/* Typography */
.main-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
}

.sub-heading {
  font-size: 1.25rem;
  font-weight: 500;
  width: fit-content;
  letter-spacing: .15em;
}

.heading-b {
  display: none;
}

p {
  font-size: 1rem;
}


/* Links */
a {
  color: #f5f5f5;
  text-decoration: none;
  letter-spacing: .175em;
  width: fit-content;
}

.link--border {
  padding: .5em 1em;
  border: 2px solid #f5f5f5;
  border-radius: .5em;
}

.nav-link {
  border-bottom: 2px solid #242424;
}

.nav-link--small,
.nav-link--regular {
  font-size: 1rem;
  font-weight: 300;
}

.nav-link--large {
  font-size: 1.125rem;
  padding: .125em .25em;
  border-radius: .1em;
}

.menu-icon {
  font-size: 1.25rem;
  margin: .5em;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
  outline-width: 1px;
  outline-color: #e5e5e5;
  outline-style: inset;
}

.nav-link--active {
  border-bottom: 2px solid #f5f5f5;
}


/* Input */
.input {
  font-family: inherit;
  font-size: 1rem;
  width: 0;
  min-width: 6em;
  height: fit-content;
  padding: .25em;
  border: 1px solid #f5f5f5;
  border-radius: .3em;
  background-color: #242424;
  color: #f5f5f5;
}

.input:hover,
.input:focus,
.input:active {
  outline-color: currentColor;
  outline-width: 2px;
  outline-style: inset;
  border-radius: .3em;
}


/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}


/* Header */
.header--small {
  display: flex;
  align-items: center;
}

.header__nav-bar--vertical {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: #242424;
  box-shadow: 2px 2px 4px 1px #e5e5e5;
}

.header__nav-bar--horizontal {
  display: none;
}


/* Footer */
footer {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px #e5e5e5;
}

footer p {
  font-weight: 300;
  margin: 0 auto;
  padding: 1em;
  letter-spacing: .1em;
}


/* Main section */
.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.home-container {
  align-items: center;
  gap: 2em;
}

.unit-converters-container {
  margin: 0 auto auto;
}


/* Flex containers */
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2.5em 0;
  border-bottom: 1px solid #e5e5e5;
}

.flex__sub-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.flex__sub-container-item {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.flex__sub-container-item__inner-wrapper {
  display: flex;
  align-items: center;
}

.flex__sub-container-item__inner-wrapper .input {
  margin: 0 .5em;
}


/* Grid containers */
.grid-container {
  display: grid;
  gap: 1em;
  /* width: fit-content; */
  /* margin: 0 auto; */
  padding: 1em 0 2.5em;
  border-bottom: 1px solid #e5e5e5;
}

.nav-bar--horizontal {
  display: flex;
  gap: 1em;
  margin: 2em auto;
}

.grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: fit-content; */
}

.grid-item .input {
  margin-right: .5em;
}

.flex-container:last-child,
.grid-container:last-child {
  border-bottom: none;
}


/* Result element */
.result {
  text-align: right;
  min-width: 7em;
  width: fit-content;
  height: 1.625em;
  margin-left: auto;
  border-bottom: 2px solid #f5f5f5;

}



/* New version of unit converters */
.unit-converter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em;
}

.inner-wrapper {
  display: flex;
  gap: .5em;
}

.position-b {
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #e5e5e5;
}

.head-b {
  display: none;
}


@media (min-width: 768px) {
  .converters-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    margin-top: 1em;
  }
  
  .unit-converter-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-bottom: 2em;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .position-a {
    margin-right: 3em;
  }
  
  .position-b {
    margin: unset;
    margin-left: 3em;
    padding-bottom: unset;
  }

  .head-b {
    display: unset;
  }
}



/* Media queries */
@media (min-width: 480px) {
  .grid-container {
    padding: 1em 2em 2.5em;
  }
}


@media (min-width: 768px) {
  .sub-heading {
    font-size: 1.5rem;
  }

  .heading-b {
    display: unset;
  }

  .nav-link--large {
    font-size: 1.25rem;
  }

  .header--small {
    display: none;
  }
  
  .header__nav-bar--horizontal {
    display: flex;
    gap: 2em;
    padding: 1em;
    box-shadow: 0 0 5px #e5e5e5;
  }

  .main-container {
    padding: 0 2em;
  }

  .flex-container {
    padding: 2.5em 2em;
  }

  .grid-container {
    grid-template-columns: repeat(2, auto);
    padding: 1.5em 0 2.5em;
  }

  .heading-a,
  .grid-item-a {
    justify-self: center;
  }

  .heading-b,
  .grid-item-b {
    justify-self: center;
  }

  .grid-item .result {
    margin-left: 2em;
  }
}


@media (min-width: 1024px) {
  .flex-container {
    padding: 4em 2em;
  }

  .flex__sub-container-item {
    flex-direction: row;
  }

  .grid-item-a {
    margin-right: 2em;
  }

  .grid-item-b {
    margin-left: 2em;
  }
}